* {
padding: 0;
margin: 0;
box-sizing: border-box;



}

html, body {
background-color: #321b20;

} 

.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: Lato, sans-serif; 



}

.logo-conteiner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  position: absolute;
  margin-top: -200px;



}

.logo {
height: 50px;
border-radius: 50%;



}

.main-conteiner {

  height: 10%;
  min-width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: -20%;
  margin-top: 60px;


}
